/* .how-to-order-section {
  width: 100%;
  padding: 80px 0;
  background: #f7f9fb;
} */

.section-title {
  font-size: 36px;
  font-weight: 700;
  color: #003b73;
}

.steps-container {
  width: 90%;
  margin: auto;
  gap: 40px;
}

.step-card {
  width: 360px;
  background: #fff;
  border-radius: 14px;
  padding: 20px;
  position: relative;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease;
}

.step-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 28px rgba(0,0,0,0.1);
}

.step-img-wrapper {
  width: 140px;
  height: 140px;
  margin: 0 auto 15px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.step-number {
  background: #007ce7;
  color: #fff;
  font-weight: 700;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  line-height: 36px;
  margin: 10px auto;
}

.step-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #003b73;
}

.step-desc {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}
