.hero-carousel {
  width: 100%;
  
}

.hero-slide {
  height: 75vh;
  background-size: cover;
  background-position: center right;
  display: flex;
  align-items: center;
}
.hero-content {
  padding-top: 80px;
  padding-bottom: 100px;
}

.hero-content {
  max-width: 520px;
  margin-left: 8%;
}

.hero-tagline {
  color: #007ce7;
  font-weight: 600;
  letter-spacing: 0.08em;
  margin-bottom: 10px;
  font-size: 13px;
}

.hero-content h1 {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 15px;
  color: #f1ebeb;
  text-shadow:1px 0px 10px #000000;
}

.hero-subtitle-carousel {
  font-size: 18px;
  color: #555555;
  margin-bottom: 28px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.hero-btn {
  border: none;
  padding: 12px 26px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.hero-btn-primary {
  background-color: #007ce7;
  color: #ffffff;
}

.hero-btn-dark {
  background-color: #000000;
  color: #ffffff;
}
    
/* TABLETS */
@media (max-width: 992px) {
  .hero-slide {
    height: 70vh;
    background-position: center;
  }

  .hero-content {
    margin-left: 5%;
    max-width: 420px;
    padding-top: 60px;
    padding-bottom: 70px;
  }

  .hero-content h1 {
    font-size: 38px;
  }

  .hero-subtitle-carousel {
    font-size: 16px;
  }
}

/* LARGE MOBILE (e.g., iPhone Pro Max, Samsung) */
@media (max-width: 768px) {
  .swiper-button-prev,.swiper-button-next{
      display: none;
  }
  .hero-slide {
    height: 65vh;
    background-position: center;
    padding: 0 20px;
  }

  .hero-content {
    margin-left: 0;
    max-width: 100%;
  }

  .hero-content h1 {
    font-size: 32px;
  }

  .hero-subtitle-carousel {
    font-size: 15px;
  }

  .hero-buttons {
    flex-wrap: wrap;
    gap: 12px;
  }

  .hero-btn {
    width: 100%;
    text-align: center;
  }
}

/* SMALL MOBILE (iPhone SE, older Android) */
@media (max-width: 480px) {
  .hero-slide {
    height: 60vh;
  }

  .hero-content h1 {
    font-size: 26px;
  }

  .hero-subtitle-carousel {
    font-size: 14px;
  }

  .hero-btn {
    padding: 10px 20px;
    font-size: 14px;
  }
}

