.section-separator {
  width: 100%;
  height: 1px; /* you can adjust height */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%, 
    rgba(0, 0, 0, 0.1) 50%, 
    rgba(0, 0, 0, 0.2) 100%
  );
}
